.nav{
    color: var(--white);
    width: 100%;
    height: 5rem;
    padding: 0 4%;
    background-color: var(--primary);
    font-family: var(--font-main);
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 3rem;
        list-style: none;
        height: 100%;
        .cat_active{
            color: var(--dark-orange);
            text-decoration: none;
            font-size: 1.2rem;
        }
        .cat_not_active{
            color: #fff;
            text-decoration: none;
            &:hover{
                color: var(--dark-orange);
                cursor: pointer;
            }
        }
    }
    .search_container{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;
        input{
            border: none;
            border-radius: 25px;
            padding: .5rem 1rem;
            width: 300px;
            font-family: var(--font-main);
            box-shadow: inset 0 4px 5px rgba(0, 0, 0, 0.25);
        }
    }
}