@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
    --primary: #F8A900;
    --secondary: #DA9500;
    --dark-orange: #AA7400;

    --white: #FFFFFF;
    --cream: #FFF8E8;

    --text: #4A4A4A;
    --border: #E9E9E9;

    --font-main: "Poppins", sans-serif;
    --font-title: "Fredoka", sans-serif;
}
